* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-image: url(astronaut-mars-collage.jpg);
  background-size: cover;
}
nav {
  width: 100%;
  overflow: auto;
  /* background: coral; */
}
ul {
  padding: 0;
  margin: 0 0 0 250px;
  list-style: none;
}

li {
  float: left;
}

.style {
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: arial;
  color: white;
  text-align: center;
  margin-left: 160px;
}

li a {
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: arial;
  color: white;
  text-align: center;
}
li a:hover {
  background: lightsalmon;
  text-transform: uppercase;
}
.logo img {
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
}
section div {
  margin: 80px;
  padding: 50px;
}
section div h1 {
  font-family: Arial;
  font-weight: 1oo;
  color: white;
  text-transform: capitalize;
}
section div h5 {
  color: white;
  text-transform: none;
}
.img {
  object-fit: contain;
}
footer h4 {
  color: white;
  margin-left: 2%;
}
.but {
  color: dimgrey;
  background-color: darkgrey;
  font-style: italic;
  border: whitesmoke 2px;
  font-family: fantasy;
}
